In [15]:
import pandas as pd
import numpy as np

# Only columns from CSV needed for analysis imported
cols = ["Date", "Name", "Sex", "Event", "Place", "Equipment", "Age", "BodyweightKg", "WeightClassKg", "Best3SquatKg"]

# Converted appropriate data types to categories to save memory
dtypes = {
    "Sex": "category", 
    "Event": "category", 
    "Equipment": "category", 
    "Place": "category"
}

# Read in the CSV with date parsed as a datetime and not a string object, then set as the index to increase functionality 
df = pd.read_csv(
    "../../open_powerlifting.csv", 
    usecols=cols, 
    dtype=dtypes, 
    parse_dates=["Date"], 
    index_col="Date", 
    dayfirst=False
                )

# Remove all 'NaN' values from 'Best3SquatKg'. This column represents the lifter's best competition Squat.
# If this data is not present in a row, that means the lifter does not have a valid Squat and will be omitted. 
df.dropna(subset=["Best3SquatKg"], axis=0, inplace=True)

# Drop weight classes that have irrelevant data such as a blank entry or a "+", that  do not align with the internationally 
# recognized weight classes.
df = df[df["WeightClassKg"] != "+"]
df.dropna(subset=["WeightClassKg"], axis=0, inplace=True)

# Remove all rows with a "DQ" under place as this denotes a lifter is disqualified from that particular contest
df = df[df["Place"] != "DQ"]

# Convert bodyweight and best Squat weights to lbs from kg for ease of reader. 
kg_cols = ["BodyweightKg",  "Best3SquatKg"]
df[kg_cols] = df[kg_cols].apply(lambda x: round(x * 2.20462, 2))

# Rename the columns to BodyweightLbs and SquatLbs
df.rename(
    columns = {
        "BodyweightKg": "BodyweightLbs", 
        "Best3SquatKg": "SquatLbs",
    }, 
    inplace=True
)

# Filter down to only "Raw" (without powerlifting equipment competitors
raw = df["Equipment"] == "Raw"
df = df[raw]

# Super Heavy Weight Classes are denoted with a "+" at the end (308/140+) and (220/100+) for Men and women. 
# This chunk of code creates a column of cleaned weights where KG is converted to LBS 
# and the superheavy weight edge case is handled.
def convert_weightclass(weightclass):
    weightclass = str(weightclass).strip()
    
    try:
        if weightclass.endswith('+'):
            num_part = weightclass[:-1]
            converted = round(float(num_part) * 2.20462, 2)
            return f"{converted}+"
        else:
            to_float_lbs = round(float(weightclass) * 2.20462, 2)
            return str(to_float_lbs)
    except ValueError:
        return None

# Create new column where the old weight classes are converted from KG into Lbs
df["WeightClassLbs"] = df["WeightClassKg"].apply(convert_weightclass)

# Drop the old KG weight class as it's no longer needed
df.drop("WeightClassKg", axis=1, inplace=True)

# Sort the date time index for efficiency 
df = df.sort_index()

# Filters DataFrame for only relevant weight classes
male_clean_weightclass_dict = {
    "148": ["145.5", "148.81", "152.12", "154.98", "144.84", "150.8", "154.32"], 
    "165": ["163.14", "165.35", "169.76", "164.91", "163.14+", "165.35+"], 
    "181": ["182.98", "181.88", "182.98+", "181.0", "181.88+", "176.37", "180.78", "175.27", "175.93"], 
    "198": ["205.03", "198.42", "205.03+", "198.42+", "194.01", "199.96", "199.52", "200.84", "191.8", "204.81"], 
    "220": ["231.49", "220.46", "219.80", "224.87", "230.82", "227.08"],
    "242": ["242.51", "241.85", "240.3"],
    "275": ["275.58", "274.92", "279.99", "265.0"],
    "308": ["308.65"], 
    "Super Heavy Weight": ["308.65+"]
}

female_clean_weightclass_dict = {
    "148": ["145.5", "148.81", "152.12", "154.98", "144.84", "150.8", "154.32"], 
    "165": ["163.14", "165.35", "169.76", "164.91", "163.14+", "165.35+"], 
    "181": ["182.98", "181.88", "182.98+", "181.0", "181.88+", "176.37", "180.78", "175.27", "175.93"], 
    "198": ["205.03", "198.42", "205.03+", "198.42+", "194.01", "199.96", "199.52", "200.84", "191.8", "204.81"], 
    "220": ["231.49", "220.46", "219.80", "224.87", "230.82", "227.08"],
    "Super Heavy Weight": ["198.42+", "308.65+", "219.8+", "199.96+", "242.51+", "220.46+", "198.42+", "185.19+"]
}

# Invert the dictionary so every messy value points to its clean key
male_mapping = {v: k for k, values in male_clean_weightclass_dict.items() for v in values}
female_mapping = {v: k for k, values in female_clean_weightclass_dict.items() for v in values}

# Apply male mapping for men, female mapping for women
df["weightclass_clean"] = np.where(
    df["Sex"] == "M",
    df["WeightClassLbs"].map(male_mapping),
    df["WeightClassLbs"].map(female_mapping)
)

# Drop any Nan values designating a mismatch in weight class
df = df.dropna(subset=["weightclass_clean"])

# Drop the old weight class column
df.drop("WeightClassLbs", axis=1, inplace=True)

# Rename column to be weightclass_lbs
df = df.rename(columns={"weightclass_clean":"weightclass_lbs"})

,Name,Sex,Event,Equipment,Age,BodyweightLbs,SquatLbs,Place,weightclass_lbs
Date,,,,,,,,,
1966-10-30,Leo Pelekies,M,SBD,Raw,NaN,NaN,396.83,2,198
1966-10-30,Machalik Stanko,M,SBD,Raw,NaN,NaN,374.79,3,198
1966-10-30,Arnold Schwarzenegger,M,SBD,Raw,19.0,NaN,308.65,1,198
1966-10-30,Walter Klein,M,SBD,Raw,NaN,198.42,407.85,6,198
1966-10-30,Herbert Kuhn,M,SBD,Raw,NaN,198.42,418.88,4,198

In [18]:
from sqlalchemy import create_engine

# Create connection string (adjust user, password, db, host, port)
engine = create_engine("postgresql+psycopg2://postgres:Show1256x!@localhost:5433/powerlifting")

# Rename DataFrame columns to match database convention
df = df.rename(columns={
    "Name": "name",
    "Sex": "sex",
    "Event": "event",
    "Equipment": "equipment",
    "Age": "age",
    "BodyweightLbs": "bodyweight_lbs",
    "Best3SquatLbs": "squat_lbs",
    "Place": "place"
})

# Export DataFrame to PostgreSQL
df.to_sql("raw_squat", engine, if_exists="append", index=True, index_label="date")

972